:root {
  --bg-red: #ff5c5c;
  --bg-blue: #413bff;
  --font-color-white: #ffffff;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  color: var(--font-color-white);
}


.container-score {
  width: 100%;
  display: flex;
  user-select: none;
}

.container-flip {
  flex-direction: row-reverse !important;
}

.container-team {
  flex: 1;
}

.container-control {
  padding: 5px;
}

#container-left {
  background-color: var(--bg-blue);
}

#container-right {
  background-color: var(--bg-red);
}
